@page
@using Domain
@model WebApp.Pages.Game.Game

@{
    ViewData["Title"] = "Game";
}

<h1>Play</h1>

<table id="board"class="board">
    @for (var y = 0; y < Model.GameState.Height; y++)
    {
        <tr>
            <td>@y</td>
            @for (var x = 0; x < Model.GameState.Width; x++)
            {
                <td>
                    <a type="submit" asp-route-col="@x" asp-route-gameId="@Model.GameState.StateId" id="@y@x" class="cell @Html.Raw(GetGameButtonLabel(Model.GameState.Board[y, x]))"/>
                </td>
            }
        </tr>
    }
</table>
<form method="post">
    <div class="form-group">
        <label asp-for="GameState.GameName" class="control-label"></label>
        <input asp-for="GameState.GameName" class="form-control"/>
        <span asp-validation-for="GameState.GameName" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
</form>

@functions
{
    string GetGameButtonLabel(int cellState)
    {
        switch (cellState)
        {
            case 0:
                return "";
            case 1:
                return "red";
            case 2:
                return "black";
        }
        return "Z";
    }




}